* {
  box-sizing: border-box;
}
:root {
  --main-gray: #e4e0e1;
  --main-brown: #d6c0b3;
  --btn-brown: #ab886d;
  --btn-DeepBrown: #493628;
  --section-margin: 3rem auto;
  --section-width: 60rem;
  --thBackColor: #ecdfcc;
}
body {
  background-color: var(--main-gray);
  margin: 0;
}
main {
  justify-content: center;
  align-items: center;
  height: calc(100vh - 15rem);
}

.header__section {
  display: grid;
  background-color: var(--main-brown);
  grid-template-columns: 1fr 1fr 1fr;
  height: 5.5rem;
  padding: 0 2rem;
}

.header__left {
  justify-self: start;
  align-self: center;
}
.header__center {
  justify-self: center;
  align-self: center;
}
.header__right {
  justify-self: end;
  align-self: center;
}

.filter__section {
  margin: var(--section-margin);
  width: var(--section-width);
  height: 30rem;
  background-color: var(--main-brown);
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  padding: 1rem;
  gap: 1rem;
}

.filter__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 각 행에 최대 3개 열 */
  gap: 1rem;
}

.filter__name,
.filter__ename {
  grid-column: span 3;
  display: flex;
  align-items: center;
}

label {
  font-weight: 700;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 4rem;
  text-align: center;
  min-width: 5rem;
  background-color: var(--main-gray);
  font-size: 0.7rem;
  padding: 2%;
}
input {
  height: 4rem;
  flex: 1;
  border: none;
  font-size: 0.7rem;
  padding: 2%;
}
input::placeholder {
  font-size: 0.7rem;
}

.filter__gsr {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter__gsr select {
  font-size: 0.7rem;
  flex: 1;
  height: 4rem;
  border: none;
  padding: 2%;
}

.filter__SecondRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.filter__week1,
.filter__week2 {
  display: flex;
  align-items: center;
}

.filter__ThirdRow {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.reset__btn,
.search__btn {
  align-items: center;
  display: flex;
}

.reset__btn button {
  background-color: var(--btn-brown);
  border: none;
  border-radius: 5px;
  color: white;
  flex: 1;
  height: 3rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.search__btn button {
  background-color: var(--btn-DeepBrown);
  border: none;
  border-radius: 5px;
  color: white;
  flex: 1;
  height: 3rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.reset__btn button:hover,
.search__btn button:hover {
  filter: brightness(0.85); /* 색상을 약간 어둡게 */
}

/* 테이블 섹션 */
.table__section {
  margin: var(--section-margin);
  width: var(--section-width);
  border: none;
  padding-bottom: 8rem;
}
.table__edit {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.table__edit button {
  width: 6rem;
  height: 2rem;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.table__add {
  background-color: var(--btn-DeepBrown);
}
.table__delete {
  background-color: var(--btn-brown);
}

.table__add:hover,
.table__delete:hover {
  filter: brightness(0.85);
}

.table__content {
  margin-top: 1rem;
}

.table__header {
  color: white;
  font-weight: 800;
  background-color: var(--btn-brown);
}
.table__body {
  background-color: white;
}
th,
td {
  width: 10rem;
  height: 3rem;
  text-align: center;
  border: 1px solid var(--thBackColor);
}

/* Modal */
.addModal {
  margin-top: 6rem;
  width: 30rem;
  height: 50rem;
}

.modalBackDrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.hidden {
  display: none;
}
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modalHeader button {
  height: 2rem;
  opacity: 0.3;
  text-align: center;
}
.modalInput {
  display: flex;
  margin-top: 1rem;
}
.modalInput input {
  border: 1px solid black;
}
.modalSelect {
  display: flex;
  margin-top: 1rem;
}
.modalSelect select {
  flex: 1;
}

.modalAddBtn {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.modalAddBtn button {
  background-color: var(--btn-DeepBrown);
  border: none;
  border-radius: 5px;
  color: white;
  flex: 1;
  height: 3rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.modalAddBtn button:hover {
  filter: brightness(0.85);
}
